html {
  background-color: red;
  padding: 0;
}
body {
  background-image: url(../img/wallpaper.jpg);
  background-repeat: no-repeat;
  width: 1090px;
  height: 570px;
  background-color: blue;
  margin: 0;
  padding-top: 50px;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  opacity: 0.3;
}

a:hover {
  opacity: 1;
}

.link-container {
  width: 450px;
  font-size: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.thumbnail {
  width: 200px;
  margin-left: 20px;
  height: 130px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}

.text {
  font-size: 15px;
  width: 200px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  opacity: 0.5;
}

.pic-0 {
  background-image: url(../img/pic-0.jpg);
}

.pic-1 {
  background-image: url(../img/pic-1.png);
}

.pic-2 {
  background-image: url(../img/pic-2.png);
}

.pic-3 {
  background-image: url(../img/pic-3.jpg);
}

.time {
  width: 492px;
  height: 110px;
  margin-left: 35px;
  opacity: 0.3;
}
.time-de {
  width: 291px;
  height: 25px;
  margin-left: 140px;
  margin-top: 30px;
  opacity: 0.3;
}

.time:hover, .time-de:hover {
  opacity: 1;
}

.g-submit {
  visibility: hidden;
}

input[type="text"] {
  text-align: left;
  font-size: 25px;
  opacity: 0.3;
  position: absolute;
  top: 70px;
  left: 820px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  padding-left: 5px;
  background-color: transparent;
  color: white;
  outline: none;
}

::placeholder {
  color: white;
}

input[type="text"]:hover {
  opacity: 1;
}
